@model IEnumerable<RentalManagement.ViewModel.AssetClientViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssetType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssetAddress)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ClientId })
        </td>
    </tr>
}

</table>
