@model RentalManagement.ViewModel.ClientViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Client Edit</h2>

@using (Html.BeginForm("Edit", "Clients")) {

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Client.Id)
    @Html.HiddenFor(m => m.Client.HomeAddress.Id)
    @Html.HiddenFor(m => m.Client.WorkAddress.Id)
    foreach (var occ in Model.Client.OccupancyRecords) {
        @Html.HiddenFor(model => occ.Id)
    }


    <div class="form-group">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Client Stuff</h3>
            </div>
            <div class="panel-body">
                @Html.LabelFor(m => m.Client.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(m => m.Client.Name, new { @class = "form-control" }) <br />
                @Html.ValidationMessageFor(model => model.Client.Name, "", new { @class = "text-danger" }) <br />

                @Html.LabelFor(m => m.Assets, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownListFor(m => m.Asset.Id, new SelectList(Model.Assets, "Id", "Type"), "Select Assets", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Asset.Type, "", new { @class = "text-danger" }) <br />

                <br />
                @Html.LabelFor(m => m.Client.OccupancyRecords, htmlAttributes: new { @class = "control-label col-md-2" })
                <br />

                    @foreach (var occ in Model.Client.OccupancyRecords) {
                        <table class="table table-bordered" style="margin:10px">
                            <tr>
                                <th>Record ID</th>
                                <th>Client ID</th>
                                <th>Asset ID</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>

                            <tr>
                                <td>@occ.Id</td>
                                <td>@occ.ClientId</td>
                                <td>@occ.AssetId</td>
                                <td>@occ.StartDate</td>
                                <td>@occ.EndDate</td>

                            </tr>
                        </table>
                    }

            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.LabelFor(model => model.Client.HomeAddress)</h3>
            </div>
            <div class="panel-body">
                @Html.LabelFor(model => model.Client.HomeAddress.UnitNum, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Client.HomeAddress.UnitNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Client.HomeAddress.UnitNum, "", new { @class = "text-danger" }) <br />

                @Html.LabelFor(model => model.Client.HomeAddress.StreetAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Client.HomeAddress.StreetAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Client.HomeAddress.StreetAddress, "", new { @class = "text-danger" }) <br />


                @Html.LabelFor(model => model.Client.HomeAddress.Province, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Client.HomeAddress.Province, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Client.HomeAddress.Province, "", new { @class = "text-danger" }) <br />


                @Html.LabelFor(model => model.Client.HomeAddress.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Client.HomeAddress.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Client.HomeAddress.Country, "", new { @class = "text-danger" }) <br />


                @Html.LabelFor(model => model.Client.HomeAddress.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Client.HomeAddress.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Client.HomeAddress.PostalCode, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.LabelFor(model => model.Client.WorkAddress)</h3>
            </div>
            <div class="panel-body">
                @Html.LabelFor(model => model.Client.WorkAddress.UnitNum, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Client.WorkAddress.UnitNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Client.WorkAddress.UnitNum, "", new { @class = "text-danger" }) <br />

                @Html.LabelFor(model => model.Client.WorkAddress.StreetAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Client.WorkAddress.StreetAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Client.WorkAddress.StreetAddress, "", new { @class = "text-danger" }) <br />


                @Html.LabelFor(model => model.Client.WorkAddress.Province, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Client.WorkAddress.Province, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Client.WorkAddress.Province, "", new { @class = "text-danger" }) <br />


                @Html.LabelFor(model => model.Client.WorkAddress.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Client.WorkAddress.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Client.WorkAddress.Country, "", new { @class = "text-danger" }) <br />


                @Html.LabelFor(model => model.Client.WorkAddress.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Client.WorkAddress.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Client.WorkAddress.PostalCode, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-0 col-md-10">
            <input type="submit" value="Edit" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}