@model IEnumerable<RentalManagement.ViewModel.AssetClientViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetAddress.UnitNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetAddress.StreetAddress) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetAddress.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetAddress.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetAddress.Province)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssetType)
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetAddress.UnitNum)
            </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssetAddress.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssetAddress.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssetAddress.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssetAddress.Province)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClientId }, null) |
            @Html.ActionLink("Assets", "Details", "Assets", new { id = item.ClientId}, null) |
            @Html.ActionLink("Details", "Details", new { id=item.ClientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClientId })
        </td>
    </tr>
}

</table>
