@model RentalManagement.Models.RentalUnit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RentalUnit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vacancies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vacancies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.size)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
