@model IEnumerable<RentalManagement.Models.RentalUnit>

@{
    ViewBag.Title = "Rental Units";
}

<h2>Rental Units</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vacancies)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vacancies)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.unitId }) |
            @Html.ActionLink("Details", "Details", new { id=item.unitId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.unitId })
        </td>
    </tr>
}

</table>
